{% extends "../base.html" %}

{% block content %}
<div class="shock">
  <b>О сайте</b>
  <ul>
	<li>Разработчики:
		<ul>
			<li><a href="http://vkontakte.ru/mr.alexmelnikov">Мельников Алексей</a></li>
			<li><a href="http://vkontakte.ru/semin_roman">Семин Роман</a></li>
			<li><a href="http://vkontakte.ru/zuneee">Ильин Сергей</a></li>
		</ul>
	</li>
	<li>Дизайнер:
		<ul>
			<li><a href="http://vkontakte.ru/id1742050">Никитина Ольга</a></li>
		</ul>
	</li>
  </ul>
  <hr />
  <b>История создания сайта</b>
  <ul>
	<li>31.05.2011 - убрали уязвимости на форуме</li>
	<li>29.05.2011 - модернизация раздела "Респекты" -> "Битва"</li>
	<li>20.05.2011 - добавили страницу ошибки 404</li>
	<li>19.05.2011 - появились страницы юзеров</li>
	<li>18.05.2011 - привели в божеский вид структуру сайта</li>
	<li>03.05.2011 - исправлены кроссбраузерные баги</li>
	<li>25.04.2011 - припояли "Карту сайта"
	<li>24.04.2011 - добавили "Расписание"</li>
	<li>24.04.2011 - появились "Игрули"</li>
	<li>23.04.2011 - заработал раздел "Респекты"</li>
	<li>23.04.2011 - стал функционировать "Форум"</li>
	<li>22.04.2011 - прикрутили регистрацию</li>
	<li>21.04.2011 - решили сделать сайт</li>
  </ul>
</div>
{% endblock %}
