{% extends "../base.html" %}

{% block content %}
<div class="shock">
  <b>Карта сайта</b>
  <ul>
	<li><a href="/">Новости</a></li>
	<li><a href="/cathedra">О кафедре</a></li>
	<li><a href="/shedule1">Расписание</a>
		<ul>
			<li><a href="/shedule1">Им-100301</a></li>
            <li><a href="/shedule2">Им-290301</a></li>
            <li><a href="/shedule3">Им-38031</a></li>
			<li><a href="/shedule4">Им-47031</a></li>
		</ul>
	</li>
	
    <li><a href="/forum">Форум</a></li>
	<li><a href="/contest">Битва</a></li>
	<li><a href="/games1">Игрули</a>
		<ul>
            <li><a href="/games1">KazMan</a></li>
            <li><a href="/games2">KazShot</a></li>
        </ul>
	</li>
	<li><a href="/about">О сайте</a></li>
	<li><a href="/search">Поиск</a></li>
	<li><a href="/sitemap">Карта сайта</a></li>
  </ul>
</div>
{% endblock %}
