{% extends "shedule.html" %}

{% block content %}
<div> 
<h1 style="text-align:center; background-color:#616161">ИМ-38031</h1><hr />
<h1>Понедельник</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt">Практикум на ЭВМ</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Бельков С. А.</td> 
	<td width="30pt">Т506</td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt">Моделирование информационных процессов</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Лимановская О. В.</td> 
	<td width="30pt">Р04</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt">Практикум на ЭВМ</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Бельков С. А.</td> 
	<td width="30pt">Т506</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
</table> 
 
<div class="csc-header csc-header-n2"> 
<h1>Вторник</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt">Экономическая теория</td> 
	<td width="130pt">Лекция</td> 
	<td width="102pt">Никифорова Г. А.</td> 
	<td width="30pt">СП301</td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt">Информационный менеджмент</td> 
	<td width="130pt">Лекция</td> 
	<td width="102pt">Вшивкова И. С.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
</table> 
 
<div class="csc-header csc-header-n2"> 
<h1>Среда</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt">Экономическая теория</td> 
	<td width="130pt">Практика</td> 
	<td width="102pt">Никифорова Г. А.</td> 
	<td width="30pt">2ск4</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt">Физическая культура</td> 
	<td width="130pt">Практика</td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
</table> 
 
<div class="csc-header csc-header-n2"> 
<h1>Четверг</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
</table> 
 
<div class="csc-header csc-header-n2"> 
<h1>Пятница</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt">Теория автоматов и формальных языков</td> 
	<td width="130pt">Лекция</td> 
	<td width="102pt">Мокрушин А. А.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt">Линейное программирование</td> 
	<td width="130pt">Лекция</td> 
	<td width="102pt">Стрелкова Е. В.</td> 
	<td width="30pt">2ск1</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt">Линейное программирование</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Стрелкова Е. В.</td> 
	<td width="30pt">2ск1</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt">Информационный менеджмент</td> 
	<td width="130pt">Практика</td> 
	<td width="102pt">Шутова Ю.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
</table> 
 
<div class="csc-header csc-header-n2"> 
<h1>Суббота</h1> 
</div> 
<table id="shedule" border="1px" align="center"> 
	
<tr style="text-align:center"> 
	<td width="15pt">1</td> 
	<td width="70pt">8:30 - 10:00</td> 
	<td width="200pt">Физическая культура</td> 
	<td width="130pt">Практика</td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">2</td> 
	<td width="70pt">10:15 - 11:45</td> 
	<td width="200pt">Каналы передачи данных</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Королев Д. В.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">3</td> 
	<td width="70pt">12:00 - 13:30</td> 
	<td width="200pt">Основы WEB программирования</td> 
	<td width="130pt">Лекция</td> 
	<td width="102pt">Свинцов Д. В.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">4</td> 
	<td width="70pt">14:15 - 15:45</td> 
	<td width="200pt">Основы WEB программирования</td> 
	<td width="130pt">Лабораторная работа</td> 
	<td width="102pt">Свинцов Д. В.</td> 
	<td width="30pt">Т514</td> 
</tr> 
 
<tr style="text-align:center"> 
	<td width="15pt">5</td> 
	<td width="70pt">16:00 - 17:30</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">6</td> 
	<td width="70pt">17:40 - 19:05</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
<tr style="text-align:center">  
	<td width="15pt">7</td> 
	<td width="70pt">19:15 - 20:40</td> 
	<td width="200pt"></td> 
	<td width="130pt"></td> 
	<td width="102pt"></td> 
	<td width="30pt"></td> 
</tr> 
 
</table> 
	
{% endblock %}

