<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Сайт кафедры интеллектуальных информационных технологий. Уральский федеральный университет">
<meta name="keywords" content="кафедра, интеллект, информация, технологии, образование, институт, урфу, иит">
<title>Сайт кафедры ИИТ</title>
<link href="/media/style/stylewithsidebar.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/media/style/images/favicon.jpg" type="image/jpg">
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?14"></script>
<script type="text/javascript">
  VK.init({apiId: 2300144, onlyWidgets: true});
</script>
</head>
<body>

	<!-- header -->
    <div id="header">
    	<div id="left_header">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="240" height="161"> 
<param name=movie value="logo.swf"> 
<param name=quality value=high> 
<embed src="/../media/flash/logo.swf" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="240" height="161"></embed></object>
		</div>
        <div id="right_header"></div>
  </div> 
  <div id="menu">
        	<ul>
              <li id="splitmenu"><a href="/">Новости</a></li>
			  <li id="splitmenu"><a href="/cathedra">О кафедре</a></li>
			  <li id="splitmenu"><a href="/shedule1">Расписание</a></li>
              <li id="splitmenu"><a href="/forum?page=1">Форум</a></li>
			  <li id="splitmenu"><a href="/contest">Битва</a></li>
			  <li id="splitmenu"><a href="/games1">Игрули</a></li>
			  <li id="splitmenu"><a href="/about">О сайте</a></li>
			  <li id="splitmenu"><a href="/search">Поиск</a></li>
			  <li><a href="/sitemap">Карта сайта</a></li>
          </ul>
		  <div id="login">
				<div class='grc'>  
				 <b class='e'><b></b><i></i><u></u><span></span></b>
				 <div>
					{{greetings}}</a>
				 </div>
				 <b class='e'><span></span><u></u><i></i><b></b></b>
				</div>
			</div>
      </div>
    <!--end header -->
	
    <!-- main -->
    <div id="content">
    	<div id="content_top">
        	<div id="content_top_left"></div>
            <div id="content_top_right"></div>
        </div>
      <div id="content_body">
			<div id="sidebar">
            <div id="sidebar_top"></div>
            <div id="sidebar_body">
            <h1>Игры</h1>
              <ul>
                <li><a href="/games1">KazMan</a></li>
                <li><a href="/games2">KazShot</a></li>
              </ul>
              </div>
                <div id="sidebar_bottom"></div>
          </div>
            <div id="text">
            <div id="text_top">
            	<div id="text_top_left"></div>
                <div id="text_top_right"></div>
            </div>
            <div id="text_body">
			{% block content %}
    		{% endblock %}
			</div>
                <div id="text_bottom">
                	<div id="text_bottom_left"></div>
                    <div id="text_bottom_right"></div>
                </div>
          </div>
      </div>
        <div id="content_bottom">
        	<div id="content_bottom_left"></div>
            <div id="content_bottom_right"></div>
        </div>
    </div>
    <!-- end main -->
	
    <!-- footer -->
    <div id="footer">
    <div id="left_footer">&copy; Copyright 2011 <a href="http://vkontakte.ru/marsdev" title="MARS"><b>MARS</b></a></div>
    <div id="right_footer">

Partners: <a href="http://ustu.ru" title="Ural Federal University">Ural Federal University</a>
| <a href="http://www.usu.ru" title="Ural State University">Ural State University</a>

    </div>
    </div>
    <!-- end footer -->
</body>
</html>
